.chip{
	background-color: #f1f8e9;
}
.article-header .badge{
	font-weight: 300;
	font-size: 0.8rem;
	color: #fff;
	border-radius: 2px;
}
i.material-icons{
	vertical-align: middle;
}

.login-page-holder{
	width: 100%;
	height: 100vh;
	padding-top: 130px;
	background-image: url(../img/draw.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.login-holder{
	max-width: 400px;
	border-radius: 10px;
	margin: 0 auto;
	padding: 30px;
	background: #fff;
}
.login-holder h3{
	margin-top: 0;
	margin-bottom: 40px;
	text-align: center;
}
.login-holder form{
	margin: 0 auto;
}
.login-holder form .input-field input{
	padding-left: 10px;
	font-size: 18px;
	width: 95%;
}

.dashboard-nav{
	padding: 0 20px;
	background-color: #4db6ac;
}
.profile-figure canvas,
.profile-figure-second canvas{
	border-radius: 50%;
	margin-right: 10px;
	min-width: 40px;
	min-height: 40px;
}

.app-main{
	padding-top: 25px;
	background-color: #f9f9f9;
	min-height: 100vh;
}

.card-info-holder{
	font-size: 16px;
	min-height: 45px;
}
.card-content{
	padding-bottom: 7px!important;
}
.card-list i{
	vertical-align: sub;
	padding-right: 5px;
}
.feed-text-holder{
	margin-top: 10px;
}
.textarea-feed-holder{
	height: 70px;
	padding:14px;
	border-radius: 4px;
	background-color: #fff;
}
.textarea-feed-holder textarea{
	border:0;
	resize: none;
	padding: 50px;
	font-size: 18px;
	border-right: solid 2px #eee;
	height: 100%;
}
.feed-content-holder article{
	background-color: #fff;
	border-radius: 5px;
	border:solid 1px #eee;
	margin-bottom: 15px;
}
.article-header,
.article-body,
.article-footer{
	padding: 20px;
}
.article-header{
	padding-bottom: 0;
	position: relative;
}
.article-footer{
	border-top: solid 1px #eee;
	height: 65px;
}
.article-do-stuff{
	display: inline-block;
	float: left;
	width: 80%;
}
.article-do-stuff a{
	margin-right: 10px;
	color: #7BB7B1;
	float: left;
}
.comment-holder input{
	float: left;
	border: solid 1px #ccc;
	height: 30px;
	padding-left: 10px;
	font-size: 18px;
	border-radius: 18px;
	padding-right: 10px;
	width: 70%;
}
li.active{
	background: #F3F9F8;
}
.collapsible i{
	color: #7BB7B1;
}
.collapsible{
	margin: 8px 0 0 0;
	box-shadow: none;
	padding: 0;
	border: none;
}
.collapsible-body{
	padding: 0 50px;
}
.comment-item{
	margin-top: 30px;
	margin-bottom: 30px;
}
.article-date{
	display: inline-block;
	float: left;
	width: 20%;
}
.edit-mobile-profile{
	position: absolute;
	right: 5px;
	top: 8px;
}
.add-person-icon{
	color: #7BB7B1;
	position: absolute;
	right: 12px;
	top: 10px;
}
.other-section .collection-item i{
	color: #7BB7B1;
	margin-right: 10px;
	cursor: pointer;
}
.collection-header a{
	color: #7BB7B1;
}
.user-data-holder{
	text-align: center; 
	width: 32%;
	display: inline-block;
}
.user-data-holder h4{
	color: #78A39E;
	margin:0;
	font-size: 1.8rem;
}
.user-data-holder span{
	color: grey;
}
