.chip{
	background-color: #f1f8e9;
}

.login-page-holder{
	width: 100%;
	height: 100vh;
	padding-top: 130px;
	background-image: url(../img/draw.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.login-holder{
	max-width: 400px;
	border-radius: 10px;
	margin: 0 auto;
	padding: 30px;
	background: #fff;
}
.login-holder h3{
	margin-top: 0;
	margin-bottom: 40px;
	text-align: center;
}
.login-holder form{
	margin: 0 auto;
}
.login-holder form .input-field input{
	padding-left: 10px;
	font-size: 18px;
	width: 95%;
}

.dashboard-nav{
	padding: 0 20px;
	background-color: #4db6ac;
}
.profile-figure canvas,
.profile-figure-second canvas{
	border-radius: 50%;
	margin-right: 10px;
	min-width: 40px;
	min-height: 40px;
}

.app-main{
	padding-top: 25px;
}

.card-info-holder{
	font-size: 16px;
	min-height: 45px;
}
.card-list i{
	vertical-align: sub;
	padding-right: 5px;
}
.textarea-feed-holder{
	height: 70px;
	padding:14px;
	margin-top:10px;
	border-radius: 4px;
}
.textarea-feed-holder textarea{
	border:0;
	resize: none;
	padding: 50px;
	font-size: 18px;
	border-right: solid 2px #eee;
	height: 100%;
}